NODE_ENV=development
PORT=3000
LOG_LEVEL=info

MONGO_URI=mongodb://127.0.0.1:27018/premios_oscar

REDIS_URL=redis://127.0.0.1:6379

SQL_SERVER_HOST=127.0.0.1
SQL_SERVER_PORT=1433
SQL_SERVER_USER=sa
SQL_SERVER_PASSWORD=OscarPass123!
SQL_SERVER_DATABASE=OscarAwards
SQL_SERVER_ENCRYPT=false
SQL_SERVER_TRUST_CERT=true
