NODE_ENV=development
PORT=3000

MONGO_URI=mongodb://localhost:27018/premios_oscar

SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_USER=sa
SQL_SERVER_PASSWORD=OscarPass123!
SQL_SERVER_DATABASE=OscarAwards
SQL_SERVER_ENCRYPT=false
SQL_SERVER_TRUST_CERT=true
